html, body {
    background: #242424;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-image: linear-gradient(to left, rgb(125, 162, 255), rgb(153, 119, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
    .nophone {
      display: none;
    }
  }

.header {
    margin: 0;
    padding: 1px;
}

#noselect {
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.partone {
    flex: 1 1 auto;
}

.himain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  #lineone {
    text-align: left;
  }

  #linethree {
    text-align: right;
    color: #7985E0;
  }

.hibottom {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    opacity: 10%;
}

.mobileonly {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .mobileonly  {
      display: block;
    }
  }
  

#errorline {
    text-align: center;
    color: #ff4444;
  }

#errortitle {
    text-align: center;
}

#errorline a {
    color: #ff4444;
}

#contactpfp {
  border-radius: 50%;
  vertical-align:middle;
}

#contactemailtext a {
  color: #7985E0;
}

.featured {
  background-color: #171717;
  padding: 5px;
}

#appicon {
  border-radius: 100px;
}

#downloadbutton {
  color: #50C878;
  border-radius: 5px;
  padding: 5px;
  background-color: #242424;
  width: 150px;
}

#downloadbutton:hover {
  color: #4F7942;
}